<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Access Denied</title>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<div class="hamburger-menu">
  <button class="burger" data-state="closed">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<main>
 
      <div class="col-md-6 align-self-center">
        <h1 style="fontsize:50" align:"center">Sorry :(</h1>
        <h2 align:"center">UH OH! You don't have permission</h2>
        <p align:"center">The Product Manager is only edit & delete by ADMIN
        </p> 
       
      </div>
    </div>
  </div>
</main>
</body>
</html>